@*@{
        ViewData["Title"] = "Home Page";
        //var lst = Model as List<Recodme.RD.Lennyouse.PresentationLayer.WebApi.Models.DietaryRestrictionViewModel>;
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<p>
    Olá
    @{
        string SayHello(string name)
        {
            return $"Hello {name}";
        }
    <p>
        @SayHello("pessoal")
    </p>
    }
    </p>

    <p>
        @DateTime.Now;
    </p>

    @{
        var name = "Nome";
        var message = "Olá";
    }

<p>@message @name</p>

@{ 
    var otherName = "OutroNome";
    var otherMessage = "Adeus";
    <p><span class="font-italic">"@message @name"</span> <span>- @otherMessage @otherName</span></p>
}

@*Comment**@

@@brake

<p>1 + 3 = @(1+3)</p> 